// General
$font-size-base-html: 62.5%; // 10px | inspired in https://www.sitepoint.com/understanding-and-using-rem-units-in-css/

// // Fonts
$primary-font: Roboto, Arial, sans-serif;

// // Colors
$text-gray: #58585B;
$tundora: #AFAFB2;
$vulcan: #77787C;
$charcoal-grey: #40424a;
$white: white;
$footer: #EFEFEF;

$logo-green: #29D356;
$gray-border: #E6E6E6;

// // Breakpoints
$smartphones: 'only screen and (max-width: 720px)';
$tablets: 'only screen and (min-width: 721px) and (max-width: 860px)';
